<!DOCTYPE html>
<html>
<head>
    <title>Tachiyomi Manga Serve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <h1>Manga List</h1>
    <div class="mlist">
        {% for m in manga %}
            <div class="mitem">{{loop.index}}: {{m}}</div>
        {% endfor %}
    </div>
</body>
</html>